/*绑定手机*/
.bindMobile .iconNumberInput{
	padding-left: 30px;
	width: 50%;
	height: 50px;
	margin-left: 30px;
	margin-top: 35px;
	float: left;
	border: 1px solid #ccc;
	color: #999;
	font-size: 12px;
	text-indent: 5px;
}
.bindMobile i.iconNumber{
	position: absolute;
	left: 38px;
	z-index: 5;
	margin-top: 50px;
	background: url(../images/3-3电话号码.png) no-repeat;
	background-position: 0px 0px;
	width: 17px;
	height: 22px;
	background-size: 17px 22px;
}
.bindMobile .yanzheng{
	float: right;
	width: 24%;
	height: 52px;
	border: 2px solid #59c2e0;
	color: #5ac3e1;
	margin-top: 35px;
    margin-right: 15px;
}
.bindMobile .iconYanZheng{
	position: absolute;
	left: 38px;
	z-index: 5;
	background: url(../images/3-3验证码.png) no-repeat;
	background-position: 0px 0px;
	width: 17px;
	height: 22px;
	background-size: 17px 22px; 
	margin-top: 122px;
}
.bindMobile .iconYanInput{
	width: 76%;
	height: 50px;
	border: 1px solid #ccc;
	padding-left: 30px;
	float: left;
	margin-left: 30px;
	margin-top: 20px;
	font-size: 12px;
	color: #999;
}
.bindMobile .tijiao{
	width: 325px;
	height: 50px;
	background: #59c2e0;
	color: #fff;
	margin-left: calc((100% - 325px)/2);
	border: none;
	margin-bottom: 25px;
	margin-top: 323px;
}