/*修改支付密码*/
.changePassword input:first-of-type,.changePassword input:nth-of-type(2),.changePassword input:nth-of-type(3),.changePassword input:nth-of-type(4){
	width: 55%;
	height: 49px;
	border: 1px solid #ccc;
	float: left;
	margin-top: 25px;
	margin-left: 30px;
	text-indent: 15px;
	font-size: 14px;
	color: #333;
	letter-spacing: 1px;
}
.changePassword button:first-of-type,.changePassword button:nth-of-type(2){
	width: 27%;
	height: 51px;
	float: left;
	border: 2px solid #59c2e0;
	color: #59c2e0;
	font-size: 14px;
	margin-top: 25px;
	margin-left: 5px;
}
.changePassword input:nth-of-type(2){
	margin-top: 20px;
	color: #999;
}
.changePassword input:nth-of-type(3),.changePassword input:nth-of-type(4){
	width: 84%;
	margin-top: 20px;
	color: #999;
}
.changePassword button:nth-of-type(2){
	margin-top: 20px;
}
.tijiao{
	width: 94%;
	height: 45px;
	background: #59c2e0;
	color: #fff;
	position: absolute;
	left: 3%;
	border: none;
	bottom: 20px;
}