/*修改登录密码*/
.mima_group input{
	width: 90%;
	height: 49px;
	border: 1px solid #ccc;
	float: left;
	margin-left: 5%;
	margin-top: 20px;
	text-indent: 10px;
	font-size: 14px;
	color: #999;
}
.tijiao{
	width: 94%;
	height: 45px;
	background: #59c2e0;
	color: #fff;
	position: absolute;
	left:3%;
	border: none;
	bottom: 20px;
}