/*密码*/
.mima{
	width: 100%;
	height:240px;
	background: #fff;
}
.mima .mima_line1{
	width: 100%;
	height: 60px;
}
.mima a .mima_line1{
	border-bottom: 1px solid #eee;
}
.mima a:last-child .mima_line1{
	border: none;
}
.mima .mima_line1 p{
	float: left;
	margin-left: 10px;
	line-height: 60px;
}
.mima .mima_line1 img{
	float: right;
	margin-right: 10px;
	width: 28px;
    height: 28px;
    margin-top: 19px;
}